{% extends "layout.html" %}
{% block content %}
<div class="home">
    <h1>Mobile Plans Recommandation Based on Existing Customer Usage</h1>
    <h3>Below list the recommanded mobile plans based on the user input on number number of plans (clusters)</h3>
</div>

<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
</html>

<div class="home">
      <table class="table" border = 1>
         {% for key, value in result.items() %}
            <tr>
               
			   <th style="border: 2px solid #dddddd;"> Plan: {{ key }} </th>
			   
			   
			   <table style="margin-left:100px;width: 85%;" border = 1>
					<tr>
					   <th> Region: </th>
					   {% if  value[0]  == 4 or value[0] == 1 or value[0] == 2 or value[0] == 3 %}
					       <td> Metro </td>
						{% elif  value[0]  == 5 or value[0] == 6 or value[0] == 7 %}
					       <td> Urban </td>
						{% elif  value[0]  == 8 or value[0] == 9 or value[0] == 10 %}
					       <td> Rural </td>
					   {% endif %}
					</tr>
					<tr>
					   <th> Targeted Age Group (Average) : </th>
					   <td> {{ value[1] }} </td>
					</tr>

					<tr>
					   <th> Active Calls (in min / day): </th>
					   <td> {{ value[3] }} </td>
					</tr>
					<tr>
					   <th> SMS Counts (per day): </th>
					   <td> {{ value[4] }} </td>
					</tr>
					<tr>
					   <th> Data Usage (in MB / day): </th>
					   <td> {{ value[5] }} </td>
					</tr>
					<tr>
					   <th> Youtube Subscription: </th>
					   
					   {% if value[6] == 0 %}
					   <td> No </td>
					   {% else %}
					   <td> Yes </td>
					   {% endif %}
					</tr>
					<tr>
					   <th> Hotstar Subscription: </th>
					   {% if value[7] == 0 %}
					   <td> No </td>
					   {% else %}
					   <td> Yes </td>
					   {% endif %}
					</tr>
					<tr>
					   <th> Amazon Prime Subscription: </th>
					   
					   {% if value[8] == 0 %}
					   <td> No </td>
					   {% else %}
					   <td> Yes </td>
					   {% endif %}
					</tr>
					<tr>
					   <th> Netflix Subscription: </th>
					   
					   {% if value[9] == 0 %}
					   <td> No </td>
					   {% else %}
					   <td> Yes </td>
					   {% endif %}
					</tr>
					<tr style="background-color: #ffffff00;" class="blank_row">
						<td colspan="3"></td>
					</tr>
					<tr style="background-color: #ffffff00;" class="blank_row">
						<td colspan="3"></td>
					</tr>
			  </table>
            </tr>
         {% endfor %}
      </table>
	  <a href="http://localhost:5000/about">Back</a>
</div>

{% endblock %}